<nav class="orange darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">SMS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/teachers">Teachers</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contacts">Contacts</a></li>
      </ul>
    </div>
  </nav>