<div class="row">
    <form class="col s12" action="/register" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="row">
            <div class="input-field col s6">
                <input id="firstName" name="firstName" type="text" class="validate" required>
                <label for="firstName">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="lastName" name="lastName" type="text" class="validate" required>
                <label for="lastName">Last Name</label>
            </div>
        </div>

        <div class="row">
            <p>
                <label>
                    <input name="role" value="student" type="radio" required>
                    <span>Student</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="role" value="teacher" type="radio">
                    <span>Teacher</span>
                </label>
            </p>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit">
            Register
        </button>
    </form>
</div>
